@import '../../../assets/css/variables';

%modal-container {
  display: flex;
  flex-direction: column;
  padding: 0 $spacing-l;

  @media ( min-width: 600px ) {
    padding: 0 40px;
  }
}

.modal-container{
  @extend %modal-container;
}
