$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-l: 20px;
$spacing-xl: 24px;
$spacing-xxl: 28px;
$spacing-xxl-2: 32px;
$spacing-xxl-3: 36px;
$spacing-xxl-4: 40px;

$beer-color-1 : #FFF897;
$beer-color-2 : #FAE96F;
$beer-color-3 : #F6C101;
$beer-color-4 : #EC9D00;
$beer-color-5 : #DF8D03;
$beer-color-6 : #C96E12;