body.modals-display{
  overflow: hidden;
}

.modals--display {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);

  ._modal{
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    @media ( min-width: 600px ) {
      position: absolute;
      bottom: auto;
      width: auto;
      height: auto;
    }
  }
}